<?xml version="1.0"?>

<robot xmlns:xacro="https://www.ros.org/wiki/xacro">


    <!-- Chassis Link-->
    <link name="chassis_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="0.210" length="0.15"/>
            </geometry>
            <material name="white"/>
        </visual>

        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="0.210" length="0.15"/>
            </geometry>
        </collision>

        <xacro:inertial_cylinder mass="4" length="0.15" radius="0.210">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        </xacro:inertial_cylinder>
    </link>

    <!-- Chassis Joint-->
    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis_link"/>
        <origin xyz="0.03 0.0 0.0575" rpy="0.0 0.0 0.0"/>
    </joint>

    <gazebo reference="chassis_link">
        <material> Gazebo/White</material>
    </gazebo>
    


</robot>
    