<?xml version="1.0"?>
<robot name="diff_robot">
    <link name="box">
        <visual>
            <geometry>
                <box size="10 20 30"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <box size="10 20 30"/>
            </geometry>
        </collision>
    </link>
    

</robot>